<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>TOKEN_KEY_STORAGE</string>
	<key>config</key>
	<string>Dev</string>
	<key>api-url</key>
	<string>https://zeneto.app/</string>
</dict>
</plist>
